/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
my directory:
application:
    AcceptLoanController
    AdminMenuController
    application.css
    InsuranceController
    Interest_on_DepositController
    Interest_on_LoanController
    InvestmentController
    IssueComplaintsController
    LoanController
    LoginController
    Main
    MainMenucontroller
    ManagelnstallmentsController
    OrderChequeController
    PaymentController
    PayTaxController
    ReceiveAdvancePayController
    RequestLoamController
    TranferAmountController
businessLayer:
    Account
    Admin
    Bank
    BMS
    ChequeBook
    Complaints
    CreditCard
    CurrentAccount
    Customer
    Installments
    Insurance
    Interest
    Investment
    Loan
    Order
    Payment
    Tax
    Transaction
dataLayer:
    DBHandler
Images:
    a1 -removebg- preview.png
    b4- removebg-preview.png
    ban1 -removebg- preview.png
    ban2-removebg-preview.png
    c1 -removebg- preview.png
    check1- removebg-preview.png
    E1 -removebg- preview.png
    f1 -removebg- preview.png
    h1- removebg-preview.png
    i1 - removebg-preview.png
    insurancel-removebg-preview.png
    inv3-removebg-preview.png
    I2- removebg-preview.png
    payment2- removebg-preview.png
    securepay1- removebg-preview.png
    securepay2-removebg-preview.png
    shop1 -removebg- preview.png
    t1 -removebg- preview.png
src:
    AcceptLoan,fxml
    AdminMenu,fxml
    Insurance,fxml
    Interest on Loan,fxml
    Investment,fxml
    IssueComplaints,fxml
    Loan.fxml
    Login.fxml
    MainMenu.fxml
    Managelnstallments,fxml
    module-info,java
    OrderCheque,fxml
    Payment,fxml
    Pay Tax,fxml
    README.md
    ReceiveAdvancePay,fxml
    RequestLcam.fxml
    TranferAmcunt,fxml